* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;


    .header-content {
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/BGimage.jpg);
        background-position: center;
        background-size: cover;
    }

    .netflix-icon svg {
        width: 89px;
        height: 24px
    }

    .header {
        height: 100px;
    }

    div nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        width: 100%;
        padding: 20px 24px;
    }

    .primary-btn {
        color: white;
        height: 30.4px;
        font-weight: bold;
        border-radius: 5px;
    }

    .select-language-btn {
        width: 55px;
        /* background-color: rgba(0, 0, 0, 0); */
        background-color: #141414;
        margin-right: 10px;
    }

    .signin-btn {
        background-color: red;
        border: none;
        width: 75.3px;
        margin-right: 6px;
    }

    .place-center {
        margin-top: 18px;
        text-align: center;
    }

    .unlimited-entire {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 32px;
        color: white;
    }

    .unlimited-movies {
        text-align: center;
    }

    .unlimited-movies h1 {
        margin-bottom: 8px;
    }

    .unlimited-movies>p {
        margin-bottom: 16px;
        line-height: 1.5rem;
        font-weight: 400;
    }

    .email-container {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        height: 48px;
        width: 256px;
        padding: 1rem;
        font-weight: bold;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 255);
        margin-top: 17px;
    }


    .get-started-btn {
        text-align: center;
        height: 48px;
        background-color: red;
        border-radius: 5px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        width: 170px;
    }

    .start-btn {
        margin: 18px 0 0 40px;
    }


    /* trending now css */

    h3 .h3-title {
        font-weight: bold;
    }

    .body-content {
        /* margin: 40px 0px 0px 0px; */
        margin: 40px 0px 40px 0px;
    }

    .trending-now {
        color: white;
        /* margin: 0px 0px 30px 25px; */
        margin: 30px 25px 30px 25px;
    }

    .slider {
        display: flex;
        /* width: 100%; */
        margin: 25px;
        overflow-x: scroll;
        scrollbar-width: none
    }

    .slider .slider-card {
        position: relative;
        flex: 0 0 auto;
        width: 112px;
        height: 156px;
        border-radius: 8px;
        padding: 10px 10px;
        transition: transform 0.3s ease, box-shadow ease;
    }

    .slider-card:hover {
        transform: scale(1.04);
        box-shadow: 0 5px 11px rgba(255, 255, 255, 0.2);
    }

    .slider-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .slider-card .number {
        position: absolute;
        bottom: 15px;
        left: 0;
        font-size: 60px;
        -webkit-text-stroke: 2px white;
        color: black;
        font-weight: bold;
        /*text-shadow: -2px -2px 0 white,2px -2px 0 white,-2px  2px 0 white,2px  2px 0 white;*/
    }

    /* more reasons to join css */

    .more-reason-to-join {
        /* margin: 50px 0px 0px 25px; */
        margin: 30px 25px 30px 25px;
        color: white;
    }

    .more-reason-to-join-content {
        margin: 15px;
    }

    .more-content {
        background: linear-gradient(149deg, #192247 0%, #210e17 99.08%);
        /* width: 260px; */
        height: 210px;
        padding: 0 20px 0 20px;
        border: 1px solid #192247;
        border-radius: 10px;
        margin: 10px;
        position: relative;
    }

    .more-content h3 {
        padding: 1.3rem .3rem;
        color: white;
    }

    .more-content p {
        color: rgba(255, 255, 255, 0.7);
    }

    .more-content svg {
        position: absolute;
        right: 10px;
    }

    /* frequently asked questions */

    .frequently-asked-questions {
        /* padding: 20px 0 20px 0; */
        color: white;
    }

    .frequently-asked-questions-title {
        /* margin: 5px 0px 30px 25px; */
         margin: 30px 25px 30px 25px
    }

    .details:hover{
        background-color: #4d4d4d;
        cursor: pointer;
    }

    div details {
        margin: 25px
    }

    summary {
        padding: 1.5rem 1.5rem;
        background-color: #292929;
        font-size: 18px;
    }

    .plus {
        display: flex;
        align-items: center;
        font-size: 30px;
    }

    details p {
        padding: 30px 30px;
        background-color: #292929;
        font-size: 16px;
    }

    .details {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .remember-membership {
        margin: 20px 25px 20px 25px;
        font-size: 18px;
        line-height: 1.5rem;
        color: white;
    }

    .text-feild-btn1 {
        margin:0 25px 0 25px;
    }

    .start-btn1 {
        margin: 12px 25px 12px 25px;
    }

    /* footer */

    footer {
        height: 600px;
        margin: 25px;
        /* padding: 0 30px 0 30px; */
    }

    .call-no {
        width: 238px;
        height: 40px;
        color: white;
    }

    .footer-content-flex-container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 1rem;
    }

    .questions-to-call {
        color: #b3b3b3;
    }

    .choose-language {
        margin-top: 50px;
    }

    .lang-select {
        padding: .4rem 1.4rem;
        background-color: #141414;
        border: 1px solid #454545;
        color: white;
        border-radius: 5px;
    }

    .click-learn {
        margin-top: 30px;
        font-size: 14px;
    }

    .get-sticky {
        margin-top: 80px;
        position: sticky;
        bottom: 20px;
    }

    /* all media queries */

    @media screen and (min-width:540px) and (max-width:1399px) {
        .get-sticky {
            display: none;
        }

        .footer-content-flex-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .email-form form {
            display: flex;
            align-items: center;
            justify-content: center
        }

        .remember-membership p {
            text-align: center;
        }

        .text-feild-btn1 {
            width: 470px;
            margin-top: 10px;
        }

        .start-btn1 {
            margin-left: 10px;
            width: 150px;
        }

        .slider .slider-card {
            width: 140px;
            height: 196px;
        }

        .body-content,
        .more-reasons-content,
        .frequently-asked-questions,
        .footer-content,
        .header {
            padding: 0 40px;
        }

        .header-content {
            height: 100vh;
        }

        .unlimited-entire {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .email-input-form form {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .select-language-btn {
            width: 100px;
            text-align: center;
        }

        .unlimited-movies {
            width: 448px;
        }

        .unlimited-movies h1 {
            font-size: 36px;
            font-weight: 700;
        }

        .unlimited-movies p {
            font-size: 18px;
            font-weight: 400;
        }
    }

    @media screen and (min-width:1400px) {
        .footer-content-flex-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .get-sticky {
            display: none;
        }

        .email-container {
            width: 561px;
        }

        .email-form form {
            display: flex;
            align-items: center;
            justify-content: center
        }

        .remember-membership p {
            text-align: center;
        }

        .text-feild-btn1 {
            width: 470px;
            margin-top: 10px;
        }

        .start-btn1 {
            width: 212px;
        }

        .email-input-form form {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .header-content {
            height: 100vh;
        }

        .more-reason-to-join-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
        }

        .slider .slider-card {
            width: 180px;
            height: 260px;
        }

        .body-content,
        .more-reasons-content,
        .frequently-asked-questions,
        .footer-content,
        .header {
            padding: 0 148px;
        }

        .unlimited-entire {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%)
        }

        .primary-btn {
            height: 40px;
        }

        .netflix-icon svg {
            width: 148px;
            height: 40px;
        }

        .unlimited-movies {
            width: 588px;
        }

        .unlimited-movies h1 {
            font-size: 56px;
            font-weight: 900;
        }

        .unlimited-movies p {
            font-size: 20px;
            font-weight: 500;
        }

        .unlimited-movies {
            line-height: 70px;
        }

        .select-language-btn {
            width: 100px;
            text-align: center;
        }
    }


    @media screen and (min-width:1000px) and (max-width:1399px) {
        .footer-content-flex-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .get-sticky {
            display: none;
        }

        .more-reason-to-join-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        .unlimited-movies h1 {
            font-size: 40px;
            font-weight: 700;
        }

        .unlimited-movies p {
            font-size: 20px;
            font-weight: 400;
        }

        /* .email-form form {
            display: flex;
            align-items: center;
            justify-content: center
        }

        .remember-membership p {
            text-align: center;
        }

        .text-feild-btn1 {
            width: 470px;
            margin-top: 10px;
        }

        .slider .slider-card {
            width: 140px;
            height: 196px;
        }

        .header-content {
            height: 100vh;
        }

        .email-input-form form {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .body-content,
        .more-reasons-content,
        .frequently-asked-questions,
        .footer-content {
            padding: 0 80px;
        }

        .unlimited-entire {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }


        .primary-btn {
            height: 40px;
        }

        .netflix-icon svg {
            width: 148px;
            height: 40px;
        }

        .unlimited-movies {
            width: 448px;
        }

        .header {
            padding: 0 65px;
        }

        .slider {
            width: 94%;
        } */
    }

}